body {
    background-color: darkgrey;
}

.form {
    margin-bottom: 5px;
}

input {
    padding: 5px;
    outline: none;
    /*border: none;*/
    border: 1px solid darkblue;
    border-radius: 5px;
    /*box-shadow: 1px 1px 2px black;*/
}

.btn-add {
    outline: none;
    padding: 5px;
    background-color: black;
    color: greenyellow;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 2px black;
}

.btn-add:hover {
    background-color: greenyellow;
    color: black;
}

.table {
    /*width: 100%; !* Ширина таблицы *!*/
    background: darkgrey; /* Цвет фона таблицы */
    color: greenyellow; /* Цвет текста */
    border-spacing: 1px; /* Расстояние между ячейками */
}

td, th {
    background: black;
    padding: 5px;
    position: relative;
}

.btn-rm {
    background-color: #fff;
    border: 1px solid #000;
    line-height: 8px;
    font-size: 21px;
    padding: 2px;
    width: 10px;
    height: 12px;
    position: absolute;
    left: 5px;
    top: 5px;
    color: #000;
}

.btn-rm:hover {
    cursor: pointer;
}