html, body, #map {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.menu {
    width: 300px;
    background: white;
    border-radius: 10px;
    overflow: hidden;
}

.menu-header {
    position: relative;
    background-color: #ff8663;
    padding: 10px;
}

.geo-address {
    font-size: 10px;
    color: white;
}

.close {
    cursor: pointer;
    position: absolute;
    color: white;
    right: 13px;
    top: 10px;
}

.menu-rewievs {
    overflow: scroll;
    min-height: 200px;
    padding: 10px;
}

.menu-form {
    padding: 10px;
}

.place, .name, .rewiev {
    width:90%;
    margin-bottom: 10px;
}

.btn {
    cursor: pointer;
    background-color: #ff8663;
    border-radius: 10px;
    padding: 10px;
}