
html
  head
    include head
  body
    .wrapper
      .panel
        .logo
          img(src="media/img/logo.png")
        .panel_head Выберите друзей
        .panel_body
          .panel_search
            div(class="search friends")
              input(placeholder="Начните вводить имя друга")
            div(class="search save")
              input(placeholder="Название")
          .panel_lists
            div(class="friends list")
              div(class="title blk") Ваши друзья
              .friends-panel
                div(class="friend blk")
                  .photo
                  .name Lzlz Dfyz
                  .cross
                div(class="friend blk")
                  .photo
                  .name Lzlz Dfyz
                  .cross
                div(class="friend blk")
                  .photo
                  .name Lzlz Dfyz
                  .cross
                div(class="friend blk")
                  .photo
                  .name Lzlz Dfyz
                  .cross
                div(class="friend blk")
                  .photo
                  .name Lzlz Dfyz
                  .cross
                div(class="friend blk")
                  .photo
                  .name Lzlz Dfyz
                  .cross
                div(class="friend blk")
                  .photo
                  .name Lzlz Dfyz
                  .cross
            div(class="save list")
              div(class="title blk") Друзья в списке
              .friends-panel
                div(class="friend blk")
                  .photo
                  .name Ntnz ktyf
                  .cross
        .panel_foot
          .btn Сохранить
  //script(src="js/index.js")
