
html
  head
    include head
  body
    .wrapper
      .panel
        .logo
          img(src="media/img/logo.png")
        .panel_head Выберите друзей
        .panel_body
          .panel_search
            div(class="search friends")
              input(placeholder="Начните вводить имя друга")
            div(class="search save")
              input(placeholder="Название")
          .panel_lists
            div(class="friends list")
              div(class="title blk") Ваши друзья
              div(class="friends-panel" ondragstart="dragStart(event)" ondragenter="return dragEnter(event)" ondrop="return dragDrop(event)" ondragover="return dragOver(event)")
            div(class="save list")
              div(class="title blk") Друзья в списке
              div(class="friends-panel" ondragstart="dragStart(event)" ondragenter="return dragEnter(event)" ondrop="return dragDrop(event)" ondragover="return dragOver(event)")
        .panel_foot
          .btn Сохранить
  script(type="text/x-handlebars-template" id="friendItemTemplate")
    {{#each list}}
    div(class="friend blk" draggable="true" data-id="{{id}}" data-sort="{{@index}}")
      .photo(style='background: url({{ photo_50 }}) no-repeat center')
      .name {{first_name}} {{last_name}}
      .cross
      {{/if}}
    {{/each}}
  script(src="js/index.js")