.wrapper {
  height: 100%;//768px
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  font-size: 0;
}

.login-blk, .load-blk {
  transition: top 1s ease-out .3s;
  font-size: 12px;
  position: absolute;
  width: 300px;
  height: 170px;
  background-color: $grey;
  border-radius: 8px;
  left: 50%;
  margin-left: -150px;
  top: 0;
  padding: 20px 10px;
}

.load-blk {
  .fields {
    height: 212px;
    .load-area {
      overflow: hidden;
      color: $grey;
      border: 2px dashed $grey;
      height: 150px;
      width: 150px;
      border-radius: 8px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 23px;
      text-align: center;
      font-size: 20px;
      p {
        margin-top: 50px;
      }
      img {
        width: 100%;
        //height: 100%;
      }
    }
  }
  .fields-btn {
    margin-left: 10px;
    width: 100px;
    float: right;
  }
  height: 300px;
  top: -500px;
}

.fields {
  text-align: right;
  height: 125px;
  margin-top: 5px;
  background-color: white;
  border-radius: 8px;
  padding: 2.5%;
  input {
    margin-top: 12px;
    width: 100%;
    height: 25px;
    border-radius: 12.5px;
    border: 1px solid $grey;
    outline: none;
    padding-left: 10px;
  }
  margin-left: auto;
  margin-right: auto;
}

.fields-btn {
  margin-top: 12px;
  height: 25px;
  width: 70px;
  @include inlineblock();
  background-color: $orange;
  color: white;
  border-radius: 5px;
  padding: 7px 18px;
  &:hover {
    background-color: #ff731e;
  }
}

.users-panel {
  color: white;
  font-size: 12px;
  @include inlineblock();
  width: 20%;
  height: 100%;
  background-color: $orange;
}

.user-blk {
  margin: 20px;
  .name {
    font-size: 16px;
    font-weight: 700;
  }
  .photo {
      border: 1px solid $orange;
    &:hover {
      border: 1px solid $grey;
    }
  }
}

.user-list {
  margin: 20px;
  .title {
    border-bottom: 2px solid $grey;
  }
  padding-bottom: 10px;
  display: none;
}

.messages-panel {
  font-size: 12px;
  @include inlineblock();
  width: 80%;
  height: 100%;
  background-color: white;
}

.messages {
  height: 90%;
  overflow: scroll;
}

.text-blk {
  margin-left: 10px;
  width: 60%;
  @include inlineblock();
}

#publish {
  width: 100%;
  height: 10%;
  margin: 0;
  padding: 0.25%;
  font-size: 0;
  .message {
    font-size: 12px;
    height: 100%;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    outline: none;
    border: 1px solid $grey;
    width: 89%;
  }
}

.btn {
  text-align: center;
  font-size: 16px;
  height: 100%;
  width: 10%;
  @include inlineblock();
  background-color: $orange;
  color: white;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  padding: 10px;
  &:hover {
    background-color: #ff731e;
  }
}

.message-blk {
  width: 90%;
  margin-left: 10px;
  border-radius: 35px;
  border: 1px solid $grey;
  padding: 10px;
  margin-top: 10px;
  &:hover {
    background-color: $grey;
  }
}

.name {
  width: 70%;
  margin-left: 7px;
  @include inlineblock(middle);
}

.photo {
  @include inlineblock(middle);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  overflow: hidden;
  img {
    max-width: 100%;
    min-height: 100%;
  }

}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
::-webkit-scrollbar-button {
  width: 3px;
  height: 3px;
}
::-webkit-scrollbar-thumb {
  background: #c4c4c4;
  border: 0 none #ffffff;
  border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
  background: #c4c4c4;
}
::-webkit-scrollbar-thumb:active {
  background: #c4c4c4;
}
::-webkit-scrollbar-track {
  background: transparent;
  border: 0 none #ffffff;
  border-radius: 2px;
}
::-webkit-scrollbar-track:hover {
  background: transparent;
}
::-webkit-scrollbar-track:active {
  background: transparent;
}
::-webkit-scrollbar-corner {
  background: transparent;
}